@tailwind base;
@tailwind components;
@tailwind utilities;

button{border-radius: 12px; font-size: 16px;color: #fff; padding: .5rem 2rem;display: flex;gap: .5rem;align-items: center;}
.page{background-color: #eff2fc99; padding: 2rem;min-height: 90vh;margin-left: 6rem;}
.heading{font-weight: 600;font-size: 1.2rem;color: #45464E;}